<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Timmy Xiao</title>
  <link rel="stylesheet" href="{{ get_url(path="styles.css") }}">
</head>

<body>
  <div id="container">
    <header>
      <p id="header-left">Timmy Xiao</p>
      <div id="header-right">
        <a href="/">home</a>
        ·
        <a href="/blog">blog</a>
      </div>
    </header>
    <section class="section">
      <div class="inner">
        {% block content %} {% endblock %}
      </div>
    </section>
  </div>
</body>

</html>
