<!doctype html>

<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Timmy Xiao</title>
  <link rel="stylesheet" href="/css/layout.css">
  <link rel="stylesheet" href="/css/size_and_colors.css">
</head>

<body class="tm-night">
  <div class="content">
    <nav class="header">
      <a href="/">About</a>
      <a href="/contact">Contact</a>
    </nav>
    <h1>
      Contact Information
    </h1>
    <div class="columns">
      <div class="column-50">
        <h3>Email</h3>
        <code>echo 'bWl0aW1teUBtaXQuZWR1Cg==' | base64 --decode</code>
        <p style="text-decoration: line-through">Email is probably the best way to contact me. I have a GPG long id of <code>ABCD EFGH IJKL MNOP</code>. You can get my public key <a href="/static/gpg.asc">here</a>. However, I barely sign my emails anymore.</p>
        <p>Soon TM</p>
      </div>
      <div class="column-50">
        <h3>Places</h3>
        <ul>
          <li><a href="https://github.com/yimmt">Github</a></li>
          <li><a href="https://matrix.to/#/@timmy:timmy.moe">Matrix</a></li>
        </ul>
      </div>
    </div>
    <footer>
      <p>© 2020 Timmy Xiao</p>
      <p>Code under MIT. Other stuff under CC-BY-4.0.</p>
    </footer>
  </div>
</body>

</html>
