<!DOCTYPE html>
<html lang="en">
  <head>
      <title>Timmy Xiao</title>
      <link rel="stylesheet" href="/css/tmnight.css">
      <link rel="stylesheet" href="/css/hack.css">
  </head>

  <body class="hack tm-night">
      <div class="container">
          <header>
              <p><a href="/">Timmy Xiao</a></p>
          </header>
          <div class="grid">
            <div class="cell -3of12 content">
                <img src="/static/img/cinn.png" width=200 height=200>
            </div>
            <div class="cell -9of12 content">
                <h1>Timmy Xiao</h1>
                <h3>Busy</h3>
                <ul>
                    <li>
                        :(
                    </li>
                </ul>
            </div>
          </div>
      </div>
  </body>
</html>
