<!DOCTYPE html>
<html lang="en">
  <head>
      <title>Test Title</title>
      <link rel="stylesheet" href="/css/gruvbox.css">
      <link rel="stylesheet" href="/css/hack.css">
  </head>

  <body class="hack gruvbox-dark">
      <div class="container">
          <header>
              <p><a href="/">Timmy Xiao</a></p>
          </header>
          <div class="grid">
            <div class="cell -3of12 content">
                <img src="/static/img/cinn.png" width=200 height=200>
            </div>
            <div class="cell -9of12 content">
                <h1>Timmy Xiao</h1>
                <h3>Busyness</h3>
                <ul>
                    <li>Hosed this semester</li>
                    <li>Best way to contact me is Signal</li>
                    <li>Or Email!</li>
                    <li>Ask me in person for both</li>
                </ul>
            </div>
          </div>
      </div>
  </body>
</html>
